In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
users = pd.read_csv("../data/users2.csv")
restaurants = pd.read_csv('../data/restaurants2.csv')
reviews = pd.read_csv("../data/reviews_with_sentiment.csv")
proportion = pd.read_csv("../data/proportion.csv")

In [3]:
proportion.columns = ['topic{}'.format(i) for i in range(10)]
reviews = pd.concat([reviews, proportion], axis=1)
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,label,...,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9
0,cAQMvg8vdIkXFAmFdmtf8Q,SJ7IbI1QVvia5muxByAv7w,3BzwagIBPQEf_Ic44oZtYQ,5,0,0,0,Very upscale and romantic place. Good was exce...,2019-02-15 03:10:26,1,...,0.000000,0.0,0.345182,0.000000,0.000000,0.0,0.000000,0.601458,0.0,0.000000
1,sjm_uUcQVxab_EeLCqsYLg,0kA0PAJ8QFMeveQWHFqz2A,8zehGz9jnxPqXtOc7KaJxA,4,0,0,0,The food is always great here. The service fro...,2011-07-28 18:05:01,1,...,0.000000,0.0,0.943643,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
2,3_oBHUOlAC33347F8_vYKg,l8reACV0ZmCyjBZy4wtq-w,FxveeHL_B0Kkz1KjPKyF3A,1,2,2,2,Literally the slowest and worst service I have...,2016-02-05 01:13:15,0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.300986,0.000000,0.0,0.656873
3,Gi5LSRmTXoL9Bp4jNGPjLw,hn0ZbitvmlHnF--KJGJ6_A,TA1KUSCu8GkWP9w0rmElxw,4,0,0,0,I have been here twice and have had really goo...,2011-10-27 14:32:57,1,...,0.000000,0.0,0.000000,0.401829,0.000000,0.0,0.331684,0.112736,0.0,0.149576
4,R9SFR1FgssHATWd9PpQEHg,BjckP4AW2FXivEAUmh5d3g,PUZSvR-nEHlhEi0gSADu7w,4,0,0,0,Went here with an friend visiting from Italy: ...,2017-09-10 16:16:58,1,...,0.456217,0.0,0.273349,0.000000,0.238598,0.0,0.000000,0.000000,0.0,0.000000

## Combine Topic Sentiment and Proportion to Restaurants

In [4]:
business_positive = reviews.groupby('business_id')['positive'].mean().reset_index()
business_positive.head()

              business_id  positive
0  --164t1nclzzmca7eDiJMw  0.751592
1  --6COJIAjkQwSUZci_4PJQ  0.997238
2  --UNNdnHRhsyFUbDgumdtQ  0.870349
3  --kyOk0waSrCDlbSvYtAOw  0.538387
4  -00d-Qb0q2TcWn-8LBHDZg  0.779218

In [5]:
business_topics = reviews.groupby('business_id')[proportion.columns].mean().reset_index()
business_topics.head()

,business_id,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9
0,--164t1nclzzmca7eDiJMw,0.005474,0.052578,0.012206,0.161177,0.19189,0.000000,0.118186,0.048907,0.207074,0.196790
1,--6COJIAjkQwSUZci_4PJQ,0.000000,0.000000,0.230332,0.000000,0.00000,0.745317,0.000000,0.000000,0.000000,0.000000
2,--UNNdnHRhsyFUbDgumdtQ,0.013363,0.014511,0.206450,0.128665,0.00900,0.015573,0.016715,0.413272,0.016077,0.149505
3,--kyOk0waSrCDlbSvYtAOw,0.059695,0.000000,0.000000,0.578908,0.00000,0.170399,0.094624,0.000000,0.000000,0.076334
4,-00d-Qb0q2TcWn-8LBHDZg,0.039183,0.663046,0.006845,0.150168,0.00000,0.005800,0.060365,0.008233,0.000000,0.053162

In [8]:
restaurants_combined = restaurants.merge(business_topics, left_on = 'business_id', right_on = 'business_id', how = 'left')
restaurants_combined = restaurants_combined.merge(business_positive, left_on = 'business_id', right_on = 'business_id', how = 'left')

In [27]:
restaurants_combined.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,positive
0,jGennaZUr2MsJyRhijNBfA,Legal Sea Foods,1 Harborside Dr,Boston,MA,02128,42.363442,-71.025781,3.5,856,...,0.035265,0.141466,0.150173,0.307001,0.034162,0.060086,0.054494,0.009610,0.174091,0.725953
1,XDv29FffNd2dWnDOtZP-wg,Sapporo Ramen,1815 Massachusetts Ave,Cambridge,MA,02140,42.387212,-71.118532,3.5,635,...,0.023923,0.042671,0.111032,0.519666,0.013159,0.007964,0.006669,0.077571,0.167961,0.743423
2,bP6goJODwRnM3AVy45Kn9w,Papi's Cuban & Caribbean Grill,216 Ponce De Leon Ave NE,Atlanta,GA,30308,33.772758,-84.380375,4.0,1001,...,0.281930,0.207915,0.103038,0.005209,0.020214,0.126170,0.031442,0.066024,0.125674,0.766446
3,vecuat0jOia-CJveW3ngDw,Schmidt's Sausage Haus,240 E Kossuth St,Columbus,OH,43206,39.946268,-82.991044,4.0,1354,...,0.017671,0.190631,0.168448,0.005582,0.083931,0.204388,0.052276,0.080534,0.100095,0.874281
4,6Y0lQh4O-9JCutgyuMNq0g,Loca Luna,550 Amsterdam Ave NE,Atlanta,GA,30306,33.788608,-84.369091,3.5,658,...,0.132412,0.322730,0.205060,0.003301,0.008979,0.011194,0.067617,0.015851,0.207596,0.699822

In [13]:
restaurants_combined.to_csv("../data/restaurants_with_topic_sentiment.csv", index = False)

## Combine topic proportion to users

In [18]:
user_topics = reviews.groupby('user_id')[proportion.columns].mean().reset_index()
user_combined = users.merge(user_topics, left_on = 'user_id', right_on = 'user_id', how = 'left')

In [26]:
user_combined.head()

,user_id,review_count,yelping_since,useful,funny,cool,elite,fans,average_stars,compliment_hot,...,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9
0,1jXmzuIFKxTnEnR0pxO0Hg,299,2010-10-01 17:29:36,381,106,121,1,23,3.43,17,...,0.042572,0.037779,0.166696,0.189951,0.044507,0.065257,0.050626,0.111216,0.067327,0.210800
1,CQUDh80m48xnzUkx-X5NAw,4205,2008-12-29 21:03:01,21059,8906,14640,1,575,3.90,679,...,0.025114,0.034576,0.058662,0.288541,0.084098,0.067602,0.122377,0.042213,0.110000,0.148914
2,e_YQl5LBR7Gdrp_1vdj1yQ,671,2007-07-31 19:21:58,1509,646,870,1,57,3.90,113,...,0.064300,0.037523,0.030578,0.354856,0.064716,0.048552,0.069523,0.123337,0.088852,0.107791
3,D8TvYz5Cy5-4V-LuD5nXvQ,478,2011-08-05 14:19:44,2115,1544,1614,0,61,3.80,276,...,0.046223,0.162164,0.041739,0.257255,0.026008,0.040335,0.143995,0.029820,0.066427,0.166266
4,Vlab9b73R5qPLIv6tE4DJA,955,2007-03-19 18:33:14,3140,2130,1800,1,90,3.57,138,...,0.029600,0.104688,0.039396,0.352079,0.015639,0.065088,0.091002,0.034000,0.061560,0.193788

In [22]:
user_combined.to_csv("../data/users_with_topic_sentiment.csv", index = False)